<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77fd62">  <td>21/06/07 20:42:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractBaseClass.setUp()[pri:0, instance:test.LoginTest@41c2284a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@812586739</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>21/06/07 20:43:05</td>   <td>9846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPicklistValues(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test.LoginTest@41c2284a]">verifyPicklistValues</td> 
  <td>main@812586739</td>   <td></td> </tr>
</table>
